html {
    background-color: #334;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    max-width: 1100px;
    background-color: cornsilk;
    position: relative;
    margin: 50px auto;
    padding: 20px auto;
}

.bold {
    font-weight: bold;
}

.header {
    text-align: center;
}

.main-title {
    font-size: 45px;
}

.main-paragraph {
    font-style: oblique;
}

.featured-image {
    text-align: center;
    margin: 35px;
}

.biography-container {
    padding: 20px;
    margin: 30px auto;
    border-top: 3px dotted orange;
    border-bottom: 3px dotted orange;
}

.quotes-container {
    background-color: #355;
    padding: 35px;
}

.quotes-container blockquote {
    font-weight: bold;
    font-size: 35px;
}

.quotes-container p {
    font-style: oblique;
}

.curiosities-container {
    padding: 20px;
    margin: 30px 0;
    border-top: 3px dotted orange;
    border-bottom: 3px dotted orange;
}

.curiosities-container li {
    height: 70px;
}

.img-bold {
    font-weight: bold;
    text-align: center;
}

.moreinfo-container {
    padding: 20px;
    margin: 30px auto;
}